html {
    background-color: #2A2C2E;
}

@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#Profile_container{
    display: flex;
    margin-top: 10vw;
    width: 100%;
    justify-content: center;
}

#Profile_image_container{
    margin-right: 5vw;
}

#Profile_image{
    max-width: 35vw;
    max-height: 35vw;
}

#Profile_content_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Profile_welcome_text{
    position: relative;
    text-align: center;
    font-size: 48px;
    font-family: 'Papyrus', 'Arial', 'cwTeXYen';
    color: rgb(233, 202, 145);
    margin-bottom: 10px;
}

#Profile_count_text{
    font-family: 'cwTeXYen', 'Papyrus', 'Arial';
    color: rgb(7, 226, 208);
}

#Profile_image_upload_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#Profile_image_upload_text{
    color:white;
    font-family: 'cwTeXYen';
    font-size: 24px;
    width: 110px;
}

#Profile_image_upload_component_container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 18vw;
}

#Profile_image_upload_button{
    font-size: 20px;
    background-color: rgb(194, 196, 52);
}