html {
    background-color: #003F67;
}

#About_up{
    display: flex;
    justify-content: center;
    margin-left: 1.5vw;
}
#About_up_text{
    position: relative;
    margin-top: 12%;
    text-align: center;
    font-family: 'Noto Sans TC',Arial,sans-serif;
    color: white;
}

#About_down{
    display: flex;
    justify-content: center;
    margin-left: 1.5vw;
}
#About_down_text{
    position: relative;
    margin-top: -1%;
    text-align: center;
    font-family:'Noto Sans TC',Arial,sans-serif;
    color: white;
}

#About_join_btn{
    font-size: 2.7vmin;
    border-radius: 10px;
    position: absolute;
    top:65%;
    left:45.5%;
    width:10%;
    height: 7%;
    background-color:  #003f67;
    color: #fff;
    border: 2px #fff solid;
    margin:0;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    
}
#About_join_btn:hover{
    font-size: 2.7vmin;
    background-color: #fff;
    color: #003f67;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
#About_footer{
    position: absolute;
    bottom:0%;
    left:42.5%;
    font-family:'Noto Sans TC',Arial,sans-serif;
    color:white;
}
#About_logo{
    display: flex;
    max-width: 10vmin;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#About_footer_text{
    display: center;
    margin:0;
    font-family:'Noto Sans TC',Arial,sans-serif;
    font-size: 0.5vw;
    color: #fff;
    text-align: center;
}

#About_footer_text_2{
    display: center;
    margin:0;
    font-family:'Noto Sans TC',Arial,sans-serif;
    font-size: 0.5vw;
    text-align: center;
    color: #fff;
    margin-bottom:10%;
}


