#AppBar_root{
    position:fixed;
    top: 0;
    align-items:stretch;
    z-index: 1;
    width: 100%;
}

#AppBar_Bar{
    flex-grow: 1;
    position:static;
    margin-right:100;
    background-color:#2A2C2E;
    height:90;
}
#AppBar_Logo{
    display: inline-block;
    flex-grow:1;
    /* border:2px solid red; */
}
#AppBar_space{
    display: inline-block;
    flex-grow:3;
    /* border:2px solid red; */
}
#AppBar_menu{
    display: inline-block;
    flex-grow:2;
    /* border:2px solid red; */
    
}


#AppBar_menuButton{
    display: inline-block;
    position: relative;
    /* border:2px solid green; */
    flex-grow: 1;
    width: 25%;
    height: 100%;
    margin:0;
    color:#6AFFC6;
    font-size: 1.3vw;
    font-weight:Bold;
    text-decoration:none;
}
#AppBar_Link{
    color:#6AFFC6;
    font-size: 1.3vw;
    font-weight:Bold;
    text-decoration:none;
}
#AppBar_menuButton:hover{
    color:rgb(48, 232, 255) ;
}
#AppBar_menuButton:focus{
    color: #005588;
}
#AppBar_menuButton:active{
    color: #005588;
}
